<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>929683755212-lul0kbiufqhjnreor6r6ui3b1il8celc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929683755212-lul0kbiufqhjnreor6r6ui3b1il8celc</string>
	<key>API_KEY</key>
	<string>AIzaSyD0REgAINVB9pwRZ802NUWHg2B8Zu4RPpU</string>
	<key>GCM_SENDER_ID</key>
	<string>929683755212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.major</string>
	<key>PROJECT_ID</key>
	<string>notes-d5a40</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-d5a40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929683755212:ios:b26efeadebcd514558f269</string>
	<key>DATABASE_URL</key>
	<string>https://notes-d5a40-default-rtdb.firebaseio.com</string>
</dict>
</plist>